# Byte-compiled / optimized / DLL files
**/__pycache__

# macOS
**/.DS_Store

# vscode
.vscode/
.env

# hydra / wandb / tensorboard / other logging
multirun/
outputs/
runs*/
wandb/
checkpoints*/
text_logs/

# data analysis
notebooks/

# buffer chaching
buffers*/