# Byte-compiled / optimized / DLL files
**/__pycache__

# macOS
**/.DS_Store

# vscode / env / colab
.vscode/
.env
venv/
.conda
code
vscode_cli.tar.gz
condacolab_install.log

# hydra / wandb / tensorboard / other logging
multirun/
outputs/
runs*/
wandb/
checkpoints*
text_logs/
logs/

# data analysis
# notebooks/

# buffer chaching
buffers*/

# cluster jobs
slurm_scripts/
slurm_logs/
scripts/

# envs
weather2alert
vllm
models/ddts
models/dtpo

# baselines