# Byte-compiled / optimized / DLL files
**/__pycache__

# macOS
**/.DS_Store

# vscode
.vscode/
.env

# hydra / wandb / tensorboard / other logging
multirun/
outputs/
runs*/
wandb/
checkpoints*/
text_logs/
logs/

# data analysis
notebooks/

# buffer chaching
buffers*/

# cluster jobs
slurm_scripts/
slurm_logs/

# envs
weather2alert